<footer class="footer">
  <div class="container">
    <div class="footer__main">
      <div class="address-block">
        <a href="./index.html" class="footer__logo logo">Photo<span
            class="footer__logo-studio"
          >Studio</span></a>
        <address class="address" id="contacts">
          <ul class="address__list list">
            <li class="address__item">
              <a href="" class="address__link link">г. Киев, пр-т Леси Украинки,
                26</a>
            </li>
            <li class="address__item">
              <a
                href="mailto:info@example.com"
                class="address__link-mail address__link link"
              >info@example.com</a>
            </li>
            <li class="address__item">
              <a
                href="tel:+380991111111"
                class="address__link-tel address__link link"
              >+38 099 111 11 11</a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-social">
        <p class="footer-social__title">присоединяйтесь</p>
        <ul class="footer__social__list social-list list">
          <li class="social-list__item">
            <a
              href=""
              class="footer__social-link social-link social-list__link"
            >
              <svg class="social-list__svg">
                <use href="./images/icons/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href=""
              class="footer__social-link social-link social-list__link"
            >
              <svg class="social-list__svg">
                <use href="./images/icons/sprite.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href=""
              class="footer__social-link social-link social-list__link"
            >
              <svg class="social-list__svg">
                <use href="./images/icons/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a
              href=""
              class="footer__social-link social-link social-list__link"
            >
              <svg class="social-list__svg">
                <use href="./images/icons/sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="form-box">
        <form action="POST" class="footer-form">
          <label for="footer-mail" class="footer-form__label">Подпишитесь на
            рассылку</label>
          <input
            type="email"
            name="mail"
            id="footer-mail"
            placeholder="E-mail"
            class="footer-form__mail"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\\.[a-z]{2,}$"
            required
          />
          <button type="submit" class="footer-form__btn btn">
            <svg class="footer-form__telega">
              <use href="./images/icons/sprite.svg#icon-telega"></use>
            </svg>
            <span class="footer-form__btn-text btn-text">Подписаться</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</footer>