<header class="header">
  <div class="container">
    <nav class="nvg header__nvg">
      <a href="./index.html" class="logo header__logo">Photo<span
          class="header__logo-studio"
        >Studio</span></a>

      <ul class="nvg-list list">
        <li class="nvg-list__item">
          <a
            href="./index.html"
            class="nvg-list__link nvg-list__link-studio link"
          >Студия</a>
        </li>
        <li class="nvg-list__item">
          <a href="./portfolio.html" class="nvg-list__link link">Портофолио</a>
        </li>
        <li class="nvg-list__item">
          <a
            href="#contacts"
            class="nvg-list__link nvg-list__link-contacts link"
          >
            Контакты</a>
        </li>
      </ul>
    </nav>
    <section class="header-contacts">
      <h2 class="header-contacts__title visually-hidden">
        header-contacts-title
      </h2>
      <ul class="contacts-list list">
        <li class="contacts-list__item">
          <a href="mailto:info@devstudio.com" class="link feedback">
            <svg class="mail-icon">
              <use href="./images/icons/sprite.svg#icon-envelope"></use>
            </svg>
            info@devstudio.com</a>
        </li>
        <li class="contacts-list__item">
          <a href="tel:+380961111111" class="link feedback">
            <svg class="telefon-icon">
              <use href="./images/icons/sprite.svg#icon-telefone"></use>
            </svg>
            +38 096 111 11 11</a>
        </li>
      </ul>
    </section>
  </div>
</header>