<main class="main">
  <section class="hero section">
    <div class="container">
      <div class="hero__section-bg">
        <h1 class="hero__title title">
          Эффективные решения для вашего бизнеса
        </h1>
        <button type="button" class="hero__btn btn" data-modal-open>
          Заказать услугу
        </button>
      </div>
    </div>
  </section>
  {{! <section class="work-section section">
    <h2 class="section__title visually-hidden">Особенности работы</h2>
    <div class="container">
      <ul class="work-section__list list">
        <li class="work-section__item">
          <div class="work-section__icon">
            <svg class="work-icon">
              <use href="./images/icons/sprite.svg#icon-antenna"></use>
            </svg>
          </div>
          <div>
            <h3 class="work-section__title title">Внимание к деталям</h3>
            <p class="work-section__text text">
              Идейные соображения, а также начало повседневной работы по
              формированию позиции.
            </p>
          </div>
        </li>
        <li class="work-section__item">
          <div class="work-section__icon">
            <svg class="work-icon">
              <use href="./images/icons/sprite.svg#icon-clock"></use>
            </svg>
          </div>
          <div>
            <h3 class="work-section__title title">Пунктуальность</h3>
            <p class="work-section__text text">
              Задача организации, в особенности же рамки и место обучения кадров
              влечет за собой.
            </p>
          </div>
        </li>
        <li class="work-section__item">
          <div class="work-section__icon">
            <svg class="work-icon">
              <use href="./images/icons/sprite.svg#icon-diagram"></use>
            </svg>
          </div>
          <div>
            <h3 class="work-section__title title">Планирование</h3>
            <p class="work-section__text text">
              Равным образом консультация с широким активом в значительной
              степени обуславливает.
            </p>
          </div>
        </li>
        <li class="work-section__item">
          <div class="work-section__icon">
            <svg class="work-icon">
              <use href="./images/icons/sprite.svg#icon-astronaut"></use>
            </svg>
          </div>
          <div>
            <h3 class="work-section__title title">
              Современные технологии
            </h3>
            <p class="work-section__text text">
              Значимость этих проблем настолько очевидна, что реализация
              плановых заданий.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  -->
  <section class="jobs section">
    <h2 class="section__title">Чем мы занимаемся</h2>
    <div class="container">
      <ul class="jobs__list work-section__list list">
        <li class="jobs__item">
          <img
            src="./images/programmer_working.jpg"
            width="370"
            height="294"
            alt="programmer working"
            class="jobs__img"
          />
          <p class="jobs__text">Десктопные приложения</p>
        </li>
        <li class="jobs__item">
          <img
            src="./images/desiners_are_developing.jpg"
            width="370"
            height="294"
            alt="desiners are developing"
          />
          <p class="jobs__text">Мобильные приложения</p>
        </li>
        <li class="jobs__item">
          <img
            src="./images/creative_artists.jpg"
            width="370"
            height="294"
            alt="creative artists"
          />
          <p class="jobs__text">Дизайнерские решения</p>
        </li>
      </ul>
    </div>
  </section>
  <section class="section team">
    <div class="container">
      <h2 class="section__title">Наша команда</h2>
      <ul class="list work-section__list team__list">
        <li class="team__item">
          <img
            src="./images/team/Demjyanenko_Igor.jpg"
            width="270"
            height="260"
            alt=""
            class="team__photo"
          />
          <div class="team__box">
            <h3 class="team__subtitle title">Игорь Демьяненко</h3>
            <p class="team__text text">Product Designer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            src="./images/team/Repina_Olga.jpg"
            width="270"
            height="260"
            alt=""
            class="team__photo"
          />
          <div class="team__box">
            <h3 class="team__subtitle title">Ольга Репина</h3>
            <p class="team__text text">Frontend Developer</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            src="./images/team/Tarasov_Nikolay.jpg"
            width="270"
            height="260"
            alt=""
            class="team__photo"
          />
          <div class="team__box">
            <h3 class="team__subtitle title">Николай Тарасов</h3>
            <p class="team__text text">Marketing</p>
            <ul class="social-list">
              <li class="social-list__item">
                <a href="" class="social-list__link link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team__item">
          <img
            src="./images/team/Ermakov_Mihail.jpg"
            width="270"
            height="260"
            alt=""
            class="team__photo"
          />
          <div class="team__box">
            <h3 class="team__subtitle title">Михаил Ермаков</h3>
            <p class="team__text text">UI Designer</p>

            <ul class="social-list">
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social-list__item">
                <a href="" class="social-list__link">
                  <svg class="social-list__svg">
                    <use href="./images/icons/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="clients section">
    <h2 class="section__title title">Постоянные клиенты</h2>
    <div class="container">
      <ul class="clients__list">
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-1"></use>
            </svg>
          </a>
        </li>
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-2"></use>
            </svg>
          </a>
        </li>
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-3"></use>
            </svg>
          </a>
        </li>
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-4"></use>
            </svg>
          </a>
        </li>
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-5"></use>
            </svg>
          </a>
        </li>
        <li class="clients__item">
          <a href="" class="clients__link">
            <svg class="clients__svg">
              <use href="./images/icons/company-icons.svg#logo-6"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </section> }}
</main>